@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

.custom-title {
    font-family: 'Aoboshi One', serif;
    color: #2E86C1;
    text-align: center;
    margin-bottom: 20px;
}

.center-image {
    display: flex;
    justify-content: center;  /* 水平方向に中央揃え */
    margin-top: 20px;  /* 上のスペースを追加 */
    margin-bottom: 40px;  /* 下のスペースを追加 */
}

button:hover {
    background-color: #DDEBF7;  /* ホバー時の色 */
}